@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
  scroll-behavior: smooth;
}
body {
  @apply font-outfit;
  min-height: 100vh;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherits;
}
.app {
  width: 95%;
  margin: auto;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}
